<header style="background: black; color: #fff; padding: 20px">
  <a href="/visited" style="margin-right: 4px">Visited</a>
  <a href="/">Home</a>
</header>
<main style="padding: 20px">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
